<h2>Add Car To Your Collection</h2>

<%= form_for @user_car, :url => user_user_cars_path do |f| %>

  <%= f.hidden_field :user_id %>

  <%= f.label :car_id, "Car:" %> <br>
  <%= f.collection_select :car_id, Car.all, :id, :full_title %>
  <br>
  <br>



  <%= f.label :color, "Color: " %> <br>
  <%= f.color_field :color %>

  <%= f.submit "Add Car" %>

<% end %>
