<div class='row'>

  <div class='col' style='max-width: 300px'>
    <h1>Sign Up</h1>
    <br>
     <%= bootstrap_form_for @user do |f| %>
      <div class = "field">
        <%= f.text_field :username %>
      </div> <br>
      <div class= "field">
        <%= f.text_field :email %>
      </div> <br>
      <div class="field">
        <%= f.password_field :password %>
      </div>
      <%= f.submit %>
    <% end %>
    <br>
    <%= link_to 'Sign Up With Google (recommended)', '/auth/google_oauth2' %> <br>
    <%= link_to 'Already have an account? Sign in here', sign_in_path %>
  </div>
</div>
