<h1><%= @user.name %></h1>

<h3>Cars: <%= @user.user_cars.count %></h3>
  <% @user.user_cars.each do |uc| %>
      <li><%= link_to uc.car_full_title, car_path(uc.car) %> - Color: <%= uc.color %> </li>
  <% end %>

<h3>Last Active: <%= @user.last_sign_in_at %></h3>
