  <%# if !params[:brand_id].blank? %>
    <%# @cars = Car.where(:brand_id => params[:brand_id]) %>
  <%# elsif !params[:year].blank? %>
    <%# @cars = Car.where(:year => params[:year]) %>
  <%# end %>
<div class="row">
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="page-header">
          <h1>Cars</h1>
        </div>
      </div>
    </div>


    <div class="row align-items-top no-gutters">
      <div class="col">
        <button class ='btn btn-secondary' data-toggle="collapse" data-target='#car-index-filter-form'>Filters</button>
        <%= form_tag("/cars", method: "get", class: "filter-form inline-form collapse", id:'car-index-filter-form') do %>
          <%= select_tag "brand_id", options_from_collection_for_select(Brand.all, "id", "name"), include_blank: true, class:'custom-select custom-select' %>
          <%= select_tag "year", options_for_select(Car.pluck(:year).uniq), include_blank: true, class:'custom-select custom-select'  %>
          <%= submit_tag "Apply Filter", class: "filter-submit", data: { disable_with: false }, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col" align='right'>
        <a href="<%= new_car_path %>">
          <button type="button" class="btn btn-success">Add Car</button>
        </a>
      </div>
    </div>

    <div class='jumbotron'>
      <div class="row" id='car-index-list'>
      </div>
    </div>
  </div>
</div>

<script id="car-index-template" type="text/x-handlebars-template">
  <div class='col car-index-item' align='center' >
    <a href="/cars/{{id}}">
      <div class = "card" style='min-width: 12rem; max-width: 15rem'>
        <img class ='card-img-top' src="{{photo_url}}" />
        <div class='card-body'>
          <h5 class='card-title'><a href="/cars/{{id}}">{{year}} {{brand.name}} {{name}}</a></h5>
        </div>
      </div>
    </a>
  </div>
</script>
