<div><h1><%= @car.full_title %></h1><%= link_to "Edit Car", edit_car_path(@car) %></div>
<br>
<%= image_tag(@car.photo_url, size: "600x400") %>
<!-- would be cool to have a "added by" section  -->

  <h4>Types: </h4>
  <ul>
    <% @car.car_types.each do |t| %>
      <li><%= t.name%></li>
    <% end %>
  </ul>

 <h4>Resources: </h4>
 <ul>
   <% @car.resources.each do |r| %>
     <li><%= link_to r.full_title, car_resource_path(r)%></li>
   <% end %>
 </ul>

 <h4>Owners: <%= @car.users.uniq.count %></h4>
  <ul>
    <% @car.users.uniq.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>
