<!DOCTYPE html>
<html>
  <head>
    <title>Clunkr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "clunkr-logo/clunkr-logo-sm.png", id:'navbar-logo' %>
      <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class='nav-item'><%= link_to "Cars", cars_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to "Brands", brands_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to "Resources", resources_path, class: 'nav-link' %></li>
          <%= user_index_button %>
          <%= sign_in_out_button %>
        </ul>
      </div>
    </nav>
    <div class="container-fluid <%= controller_name %> <%= action_name %>">

      <%= display_flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
